
#FaixaR {
  display: flex;
  background-color: #5271ff;
  height: 90px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#FaixaR .titulo{
  margin: 0;
  color: #fff;
  font-size: 40px;
  height: 50px;
}

#FaixaB {
  display: flex;
  justify-content: center;
  margin: 5%;
}

#FaixaB button {
  width: 300px;
  height: 50px;
  margin: 20px;
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}

#FaixaB .Login {
  background-color: #ff1616;
}

#FaixaB .Game {
  background-color: #008037;
}

#FaixaT {
  display: flex;
  justify-content: center;
  margin: 20px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 800px;
  text-align:center;
}
table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tr:hover {
  background-color: #ddd;
}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #e4c33e;
}

table th[scope=row] {
  background-color: #cac7c7;
}
